name: CI Pipeline Python
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: pytest --junitxml=test-reports/results.xml


      - name: Upload report always
        if: always()
        uses: actions/upload-artifact@v4
        with:
             name: report-always
             path: test-reports/
             
  deploy:
          needs: build-and-test
          runs-on: ubuntu-latest
          if: success()
          steps: 
            - uses: actions/checkout@v3
            - name: Deploy application
              run: bash ./deploy.sh production
          
  notify:
    runs-on: ubuntu-latest
    needs: [build-and-test, deploy]
    if: always()
    steps:
      - name: Download test report
        uses: actions/download-artifact@v4
        with:
          name: test-report
          path: ./report

      - name: Send email notification
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465 
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: " ${{ job.status }} du workflow - ${{ github.repository }}"
          to: benabdelhafidhmanar96@gmail.com
          cc: chokri.gammoudi@gmail.com
          from: "GitHub Actions <${{ secrets.GMAIL_USERNAME }}>"
          body: the job done with ${{ job.status }} for the commit ${{ github.sha }}.
                for more details please check the atached report
          attachments: ./report/report.xml      
